.contacts__info {
  max-width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__info__text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 35px;
  color: #646464;
  font-size: 30px;
  h3 {
    font-size: 36px;
    line-height: 42px;
    color: #057832;
    margin: 68px 0 44px;
  }
  p {
    max-width: 725px;
    width: 100%;
  }
  @media (max-width: 1100px) {
    font-size: 20px;
    line-height: 42px;
    h3 {
      font-size: 24px;
      line-height: 29px;
      margin: 40px 0 20px;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.contacts__info__text__col {
  &:first-child {
    padding-right: 15px;
  }
  &:last-child {
    padding-left: 15px;
  }
  width: 50%;
  @media (max-width: 768px) {
    &:first-child {
      padding-right: 0px;
    }
    &:last-child {
      padding-left: 0px;
    }
    width: 100%;
  }
}
