.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__bg {
  height: 565px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    object-fit: cover;
  }
  @media (max-width: 1100px) {
    height: 335px;
  }
}
.banner__bg__img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.banner__nav {
  display: flex;
  width: 100%;
  z-index: 100;
  max-width: 1480px;
  justify-content: space-between;
  gap: 40px;
  margin-top: -80px;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 1451px) {
    max-width: 1180px;
  }
  @media (max-width: 1100px) {
    margin-top: 0px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
