.car {
  width: 100%;
  max-width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 40px;
    line-height: 1.5;
    color: #323232;
    font-weight: normal;
    text-align: center;
    margin-bottom: 35px;
    @media (max-width: 1100px) {
      font-size: 24px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  @media (max-width: 1100px) {
    padding-bottom: 0px;
  }
}
.car__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 50px;
  .car__block__text {
    width: 100%;
  }
  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: -100px;
    .car__block__text {
      width: 100%;
    }
  }
}
.car__row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 50px;
  margin-top: 100px;
  .car__block__text {
    width: 550px;
    @media (max-width: 1100px) {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0px;
    gap: 0px;
    @media (max-width: 1100px) {
      img {
        width: 100%;
      }
    }
  }
}
.car__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @media (max-width: 1100px) {
    align-items: center;
  }
}
.car__block__size {
  font-size: 24px;
  color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
.car__block__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 20px;
  height: 200px;
  @media (max-width: 1100px) {
    margin-right: 0px;
    height: 100%;
    margin-top: 50px;
  }
}
.car__block__text {
  font-size: 24px;
  color: #323232;
  font-weight: normal;
  line-height: 30px;
  @media (max-width: 1100px) {
    font-size: 20px;
    text-align: center;
  }
}
.car__block__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}
.car__block__price {
  color: #057832;
  font-size: 42px;
  display: flex;
  span {
    color: #323232;
    font-size: 16px;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
  }
  @media (max-width: 1100px) {
    justify-content: center;
    // border-top: 1px solid #bfbfbf;
    padding-top: 10px;
  }
}
