.about__title {
  font-size: 40px;
  width: 100%;
  text-align: center;
  display: flex;
  padding-top: 32px;
  align-items: center;
  max-width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
  color: #057832;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  img {
    margin-right: 25px;
    // max-width: 30px;
  }
  @media (max-width: 1100px) {
    font-size: 24px;
    padding-bottom: 15px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }
}
