.green_image {
  background-color: #057832;
  border-radius: 100%;
  width: 146px;
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1100px) {
    width: 110px;
    height: 110px;
    img {
      width: 54px;
      height: 54px;
    }
  }
}