.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  border: 1px solid #ccc;
  padding: 20px;
  padding-bottom: 10px;
  color: #323232;
  h2 {
    color: #057832;
    font-size: 36px;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
  }
  img {
    align-self: center;
    height: 250px;
    object-fit: contain;
  }
}
.block__bottom {
  width: 100%;
}
.block__top {
  width: 100%;
}
.block__minmax {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  p {
    padding: 8px;
    width: 80px;
    text-align: right;
  }
  p:nth-child(1) {
    border-right: 1px solid #ccc;
  }
}
.block__wholesale {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
  border-top: 1px solid #ccc;
  .block__type {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0px;
    p {
      text-transform: uppercase;
      color: #ff8a00;
      font-weight: bold;
    }
    span {
    }
  }
}
.block__prices {
  display: flex;
  p {
    font-size: 30px;
    padding: 12px 8px;
    width: 80px;
    text-align: right;
  }
  p:nth-child(1) {
    border-right: 1px solid #ccc;
  }
}
