.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 110vh;
}
.prices__info {
  max-width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.prices__date {
  font-size: 40px;
  color: #057832;
  line-height: 1.5;
  margin-top: 75px;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1100px) {
    font-size: 24px;
    flex-direction: column;
  }
}
.prices__date__left {
  display: flex;
  align-items: center;
  gap: 25px;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.prices__currency {
  display: flex;
  align-items: center;
  gap: 25px;
  @media (max-width: 800px) {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
}
.prices__filter {
  height: 96px;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  @media (max-width: 800px) {
    height: 100%;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
  }
}
.prices__filter__visible {
  width: 120px;
  display: flex;
  justify-content: space-between;
  img {
    cursor: pointer;
  }
  @media (max-width: 800px) {
    display: none;
  }
}
.prices__search_select {
  display: flex;
  gap: 40px;
  @media (max-width: 1100px) {
    gap: 25px;
  }
  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
  }
}
.prices__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  width: 100%;
  max-width: 1480px;
  justify-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
