.rent {
  background-image: url("../../../public/background/bg-specifications.png");
  background-color: white;
  background-repeat: repeat;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  margin-top: 75px;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    width: 100%;
    justify-items: center;
    text-align: center;
    justify-content: center;
  }
  &__grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 900px;
    gap: 40px;
    width: 100%;
    justify-items: center;
    text-align: center;
    justify-content: center;
  }
  @media (max-width: 1100px) {
    margin-top: 25px;
  }
}
.rent__title {
  font-size: 40px;
  color: #323232;
  font-weight: normal;
  text-align: center;
  max-width: 1200px;
  line-height: 1.5;
  margin-bottom: 40px;
  @media (max-width: 1100px) {
    font-size: 24px;
  }
}
.rent__infra {
  margin-bottom: 50px;
  font-size: 40px;
  color: #323232;
  font-weight: normal;
  text-align: center;
  @media (max-width: 1100px) {
    font-size: 24px;
  }
}
.rent__content {
  width: 100%;
  max-width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #057832;
    text-align: center;
    font-size: 36px;
    margin: 90px 0 0px;
    max-width: 733px;
  }
  .rent__title2 {
    margin-top: 60px;
    margin-bottom: 45px;
  }
  @media (max-width: 1100px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.rent__row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column;
  }
}
.rent__row2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.rent__row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.rent__row__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 450px;
}
.rent__row__block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 450px;
  &:last-child {
    grid-column: 1 / -1;
    justify-self: center; 
  }
}
.rent__row__title {
  color: #323232;
  font-size: 30px;
  text-align: center;
  height: 50px;
  margin-top: 40px;
  @media (max-width: 1100px) {
    font-size: 20px;
  }
}
