.news__info {
  max-width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 110vh;
}
.news__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  margin: 60px 0 155px 0;
}
.news__block {
  padding: 12px;
  height: 505px;
  overflow: hidden;
  width: 347px;
  border: 1px solid #bfbfbf;
  img {
    width: 100%;
    height: 255px;
    object-fit: cover;
  }
  @media (max-width: 587px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
.news__block__title {
  width: 100%;
  color: #057832;
  font-size: 24px;
  line-height: 28px;
  min-height: 57px;
  padding: 0 7px;
  margin-top: 10px;
}
.news__block__text {
  width: 100%;
  margin-top: 11px;
  font-size: 20px;
  line-height: 23px;
  color: #646464;
  padding: 0 7px;
}
.news__block__date {
  color: #bfbfbf;
  font-size: 24px;
  line-height: 28px;
  padding: 0 7px;
  margin-top: 6px;
}
.post__back {
  margin: 175px;
}
