.footer {
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #525754;
}
.footer__text {
  font-size: 12px;
  text-align: center;
  color: #e7e7e7;
}
