.banner__logo {
  z-index: 1000;
  position: absolute;
  top: 311px;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  img {
    padding: 15px;
    cursor: pointer;
    transition: 300ms ease all;
    border-radius: 10px;
    max-width: 90vw;
    width: 500px;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }

    @media (max-width: 500px) {
      width: 100vw;
      top: 65px;
    }
  }
  @media (max-width: 1100px) {
    top: 65px;
    max-width: 500px;
    width: 100vw;
  }
}
.logo {
  display: block;
  width: 100%;
  // @media (max-width: 1100px) {
  //   display: none;
  // }
}
// .logo__mob {
//   display: none;
//   @media (max-width: 1100px) {
//     display: block;
//   }
// }
