.history {
  max-width: 1510px;
  width: 100%;
  padding-left: 20px;
  padding-right: 15px;
  margin-top: 60px;
}
.history__row {
  display: flex;
  align-items: center;
  padding: 22px 0;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}
.history__year {
  width: 146px;
  height: 146px;
  min-width: 146px;
  background: #057832;
  border-radius: 200px;
  text-align: center;
  padding-top: 43px;
  color: white;
  font-size: 24px;
  div {
    font-size: 36px;
  }
  @media (max-width: 1100px) {
    width: 110px;
    height: 110px;
    min-width: 110px;
    padding-top: 30px;
    div {
      font-size: 28px;
    }
  }
}
.history__text {
  padding-left: 53px;
  font-size: 30px;
  line-height: 35px;
  color: #323232;
  @media (max-width: 1100px) {
    font-size: 20px;
    padding: 10px;
    max-width: 370px;
    margin-bottom: 16px;
    text-align: center !important;
  }
}
