.pano {
  display: flex;
  flex-direction: column;
  max-width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
