.banner {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  background-size: cover;
}
.banner__slide {
  @media (max-width: 1100px) {
    margin-top: 350px;
  }
}
// .banner__bg {
//   z-index: -1;
//   display: flex;
//   background-size: cover;
//   img {
//     width: 100%;
//     object-fit: contain;
//   }
// }
.banner__bg_images {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-top: -110px;
  min-height: 791px;
  min-width: 1650px;
  margin-bottom: -100px;
  pointer-events: none;
  user-select: none;
  height: 791px;
  img {
    &:first-child {
      margin-top: 20px;
    }
  }
  @media (max-width: 1100px) {
    display: none;
  }
}
