.banner {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.banner__bg {
  z-index: -1;
  width: 100%;
  display: flex;
  height: 1px;

}
.banner__bg_images {
  display: flex;
  justify-content: space-between;
  width: 130vw;
  margin-top: -110px;
  min-height: 791px;
  margin-bottom: -100px;
  pointer-events: none;
  user-select: none;
  height: 791px;
  img {
    &:first-child {
      margin-top: 20px;
    }
  }
  @media (max-width: 1100px) {
    display: none;
  }
}
