.buysell {
  max-width: 1480px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 72px;
  padding-bottom: 42px;
  @media (max-width: 1100px) {
    width: 100%;
  }
}
.buysell__title {
  width: 100%;
  text-align: center;
  font-size: 48px;
  text-align: center;
  color: #212529;
  margin-bottom: 75px;
  @media (max-width: 1100px) {
    font-size: 24px;
  }
}
.buysell__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(50% - 10px);
  max-width: 450px;
  height: 365px;
  @media (max-width: 1100px) {
    width: 345px;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding: 15px;
  }
}
.buysell__block__image {
  background-color: #057832;
  border-radius: 100%;
  width: 146px;
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1100px) {
    width: 110px;
    height: 110px;
    img {
      width: 54px;
      height: 54px;
    }
  }
}
.buysell__block__text {
  line-height: 40px;
  font-size: 30px;
  color: #212529;
  max-width: 450px;
  text-align: center;
  margin-top: 39px;
  height: 50px;
  @media (max-width: 1100px) {
    margin-left: 0px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    font-size: 20px;
    height: auto;
  }
}
.buysell__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
  }
}

.buysell__subtitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 20px;
  color: #057832;
  font-size: 40px;
  display: flex;
  align-items: center;
  img {
    margin-right: 20px;
  }
  @media (max-width: 1100px) {
    font-size: 30px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 20px;
    }
  }
}
