.categories {
  background-color: white;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1100px) {
    padding-top: 45px;
  }
}
.categories__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categories__title {
  width: 100%;
  text-align: center;
  font-size: 48px;
  text-align: center;
  color: #212529;
  margin-bottom: 75px;
  @media (max-width: 1100px) {
    font-size: 24px;
    width: 345px;
    margin-bottom: 20px;
  }
}
.categories__image {
  height: 180px;
  width: 300px;
  object-fit: contain;
  @media (max-width: 1100px) {
    width: 250px;
  }
}
.categories__text {
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  color: #212529;
  padding-top: 40px;
  @media (max-width: 1100px) {
    padding-top: 20px;
    line-height: 30px;
    font-size: 20px;
  }
}
.categories__block {
  height: 340px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms ease all;
  cursor: pointer;
  @media (max-width: 1100px) {
    height: 285px;
  }
  &:hover {
    transform: scale(1.1);
  }
}
