.char {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 42px;
}
.char__title {
  width: 100%;
  text-align: center;
  font-size: 48px;
  text-align: center;
  margin-bottom: 42px;
  color: #212529;
  @media (max-width: 1100px) {
    font-size: 24px;
  }
}
.char__block {
  width: 700px;
  display: flex;
  align-items: center;
  flex-shrink: none;
  margin: 33px;
  span {
    color: #057832;
  }
  @media (max-width: 1100px) {
    width: 345px;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.char__block__image {
  background-color: #057832;
  border-radius: 100%;
  height: 146px;
  min-width: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1100px) {
    width: 110px;
    height: 110px;
    min-width: 110px;
    img {
      width: 54px;
      height: 54px;
    }
  }
}
.char__block__text {
  margin-left: 41px;
  max-width: 539px;
  line-height: 40px;
  font-size: 30px;
  color: #212529;
  @media (max-width: 1100px) {
    margin-left: 0px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    font-size: 20px;
  }
}
.char__content {
  display: flex;
  justify-content: space-between;
  max-width: 1510px;
  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
